.dates-operations-form {
    .menu-options {
        display: flex;
        border: 1px solid;
        padding: 5px;
        margin: 2px;
        border-radius: 5px;
        gap: 10px;

    }

    .groupe-type-operation {
        gap: 5px;
    }

    .groupe-mois-annee, .groupe-du-au {
        gap: 5px;
    }
    .type-ops, .groupe-mois, .groupe-annee {
        
    }
}