.mainHeader {
    background-color: $mainColorLight;
    color: $textColor;
    font-family: 'Titillium Web', sans-serif;
    height: 50px;
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
}
