.home {
    h1 {
        text-align: center;
        font-size: 7vw;
    }
    .la-une {
        width: 100%;
        height: 70vh;
       

        .picture {
            width: 90%;
            height: 40vw;
            border: 1px solid red;
            margin: 0 auto;
        }

    }
}