

$mainColor: #29335c;
$mainColorLight: #0c5f96;
$secondaryColor: #db2b39;
$textColor: #f7f7f7;
$color-1: rgb(17, 94, 97);
$color-3: #282c34;
$color-4: rgb(32, 35, 42);
$blackColor: #0c1013;
$font-size: 13px;

/* Fonts */
$font1: 'Titillium Web', sans-serif;
$font2: 'Poppins', sans-serif;
$font3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font4: 'Open Sans', sans-serif;
$font5: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font2;
}

main {
    min-height: calc(100vh - 140px);
}

table tr {
    font-size: 0.8rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5); 
    z-index: 2; 
    cursor: pointer;
}

.modal-header {
    padding: 0.5rem !important;
}

.alert {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px ;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb; 
}






h1, h2, h3, h4, h5, h6 {
    font-family:$font1;
    font-weight: bold;

}

div, button, input, label {
    font-size: $font-size;
}


.form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
h2 {
    text-align: center;
    font-size: $font-size*2;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 10px;
    display: flex;
}
.main {

    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #db2b39;
    border: 2px solid #db2b39;
    height: 100vh
}
.page {
    &-titre {
        height: 40px;
    }

    .dates-form {
        height: 100px;
        margin: 0 auto;
        padding-left: 10px;
    }

    .ul-scrolling {
        
        overflow-y: scroll;
        overflow-x: hidden;
        width: 98vw;
        height: 65vh;
        
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .total-line {
        display: flex;
        justify-content: space-between;
        color: $textColor;
        font-weight: bold;
        height: 30px;

    }


}
 


a {
    text-decoration: none;
    color: $mainColor;
    transition: .2s;
    font-size: $font-size;

    &:active {
        background-color: cornflowerblue;
        color: rgb(33, 35, 37);
    }
    &:hover {
        color: $mainColorLight;

    }
}

.overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-dialog {
    width: 100;
    top:50%;
    transform: translateY(-80%);
}
.card-container {
    border: 1px solid $mainColor;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
}
.title7 {
    font-size: 0.8rem;
    font-style: italic;
}

.perso-text-size {
    font-size: $font-size*1.1;
    color: $mainColor;
}
.btn {
    font-size: $font-size;
}
.pencil {
    cursor: pointer;
}

.inputMessage {
    color: red;
    text-align: left;
}

input::placeholder {
    color: $mainColor;
    font-size: $font-size;
}

.table {
    min-width: 300px;
    overflow-x: scroll;
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }
  }


